/***********************
*******base样式*******
***********************/

/*主题颜色background: #4eb525;*/
body{
	padding: 0;
	margin: 0;
}
input,ul,li,img,h1,h2,h3,h4,h5,h6,div,p,span{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}

/***********************
*******侧栏导航*******
***********************/
.fix{
	width: 40px;
	height: 100%;
	position: fixed;
	right: 0px;
	top: 30%;
	
}
.fix-con{
	width: 35px;
	height: 360px;
	background: #eee;
	border-radius: 10px;
	position: absolute;
	right: 3%;
	top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.fix-con li{
	width: 30px;
	height: 50px;
	font-size: 14px;
	margin: 20px auto;
	text-align: center;
	line-height: 25px;
}
.fix-con li a{
	color: black;
	vertical-align: middle;
}
.fix-con #love a{
	color: red;
}
.fix-con #question a{
	color: #f87807;
}
.fix-con li:hover{
	background: #4eb525;
}
.fix-con li:hover a{
	color: white;
}

